.h1-text{
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    color: #080061;
  
    span {
      color: #F9F871    ;
    }
  
    @media screen and (min-width: 2000px) {
      font-size: 50px;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 25px;
    }
}



// .app__test__profiles{
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   width: 100%;
//   flex-direction: row;
//   margin: 2rem 1rem 0rem 1rem;
//   overflow-y: none;
//   overflow-x: scroll;


//   @media screen and (max-width: 1080px){
//     flex-direction: column;
//     margin-top: 1rem;
//   }
// }

// .app__test__profile-item{
//   padding: 1.5rem 1rem;
//   width: calc(90vw / 4);
//   flex-shrink: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   margin: 0.8rem;
//   border-radius: 20px;
//   border: 1px #0800611A;
//   box-shadow: 0px 0px 40px 0px #002BD333 inset;
 
//   div{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
    
//     div{
//       h2:first-of-type {
//         font-size: 20px;
//       }

//       h2:not(:first-of-type) {
//         font-size: 14px;
//       }
//     }
//   img {
//       width: 140px;
//       height: 100px;
//       border-radius: 15px;
//       object-fit: cover;
//       margin: 1.5rem;
//   }
// }

//   @media screen and (min-width: 2000px){
//       width: 3;
//       margin: 2rem 4rem;
//   }

//   @media screen and (min-width: 500px) and (max-width: 1080px){
//     display: none;
    
//   }


//   @media screen and (max-width: 500px){
//     width: 100%;
//     height: 100%;
//     margin: 1rem 2rem 1rem 0rem;
//     div{
//       flex-direction: row-reverse;
//       width: 100%;
//       justify-content: center;
//       column-gap: 2%;
//       padding: 0.8rem;
//     img{
//       width: 35%;
//       height: 50%;
//       margin: 0rem;

//     }
//     div{
//       display: flex;
//       flex-direction: column;
//       justify-content: flex-start;
//       align-items: flex-start;

//     }
//   }
    
//   }
// }

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  justify-content: flex-start;
}

button {
  border: none;
  cursor: pointer;

  svg{
    color:  #080061;
    width: 45px;
  height: 45px;
  }
  
}

button:disabled {
  svg{
    color: #08006180;
  }
}


.slider {
  overflow: hidden;
  width: 100%;
  margin: 2rem;
  /* Adjust based on the size you want */
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease;
  width: calc(100% * 2); /* Large enough to hold all the items */
}

.slider-item {
  // flex: 0 0 calc(100% / 4); /* 4 items visible */
  flex-shrink: 0;
  width: 19rem;
    padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.8rem;
  border-radius: 20px;
  border: 1px #0800611A;
  box-shadow: 0px 0px 40px 0px #002BD333 inset;
 
  div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    div{
      h2:first-of-type {
        font-size: 20px;
      }

      h2:not(:first-of-type) {
        font-size: 14px;
      }
    }
  img {
      width: 140px;
      height: 100px;
      border-radius: 15px;
      object-fit: cover;
      margin: 1.5rem;
  }
}

  

  @media screen and (min-width: 500px) and (max-width: 1080px){
    display: none;
    
  }


  @media screen and (max-width: 500px){
    width: 86vw;
    // height: 100%;
    margin: 1rem 1rem 1rem 0rem;
    div{
      flex-direction: row-reverse;
      justify-content: center;
      column-gap: 2%;
      padding: 0.8rem;
    img{
      width: 45%;
      height: 85%;
      margin: 0rem;

    }
    div{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

    }
  }
    
  }
}

.slider-item-tab{
  padding: 1.5rem 1rem;
  flex:0 0 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem 2rem 1rem 0rem;
  border-radius: 20px;
  border: 1px #0800611A;
  box-shadow: 0px 0px 40px 0px #002BD333 inset;
  column-gap: 15px;
 
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 80%;
    // margin: 0rem 1rem;
    
  }
  img {
    margin: 0rem 1rem;
      width: 26%;
      height: 100%;
      border-radius: 15px;
  }
  



@media screen and (min-width: 1080px){
  display: none;
}

  @media screen and (max-width: 500px){
   display: none;
    
  }
}
