.h1-text{
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    color: #080061;
  
    span {
      color: #F9F871    ;
    }
  
    @media screen and (min-width: 2000px) {
      font-size: 50px;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 25px;
    }
}

.app__test__about{
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__test__profiles{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.app__test__profile-item{
  padding: 1rem 1rem;
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  border-radius: 20px;
  border: 1px #0800611A;
  box-shadow: 0px 0px 40px 0px #002BD333 inset;


  img {
      width: 140px;
      height: 100px;
      border-radius: 15px;
      object-fit: cover;
 
  }

  @media screen and (min-width: 2000px){
      width: 370px;
      margin: 2rem 4rem;

      img{
          height: 320px;
      }
  }
}
